<% include ./partials/header %>




		<div class="col-lg-6">
		    <div style="width: 60%; margin: 100px 150px">
		        <h1  ><span class="glyphicon glyphicon-envelope"></span> We're at Gurgaon</h1>
		   
                        		   
                        		   <div class="card">
                          <div class="card-header">
                            Catch us Here or Drop a Mail!
                          </div>
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p>HERITAGE ARCHITECTS</p>
                              <p> PLOT NO. 420, SECTOR 10-A</p>
                              <p> GURUGRAM, HARYANA - 122006</p>
                              <p> 0124-4090420, 0950277619</p>
                              <footer>Get your Quote in <cite title="Source Title">30 minutes</cite></footer>
                            </blockquote>
                          </div>
                        </div>
                        		   
		    
		    <!--<div class="card">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Find Us Here!</h4>-->
      <!--              <h6 class="card-subtitle mb-2 text-muted">or drop a mail</h6>-->
      <!--              <p class="card-text">HERITAGE ARCHITECTS, PLOT NO. 420</p>-->
                   
      <!--              <p class="card-text">SECTOR 10-A, GURUGRAM, HARYANA</p>-->
      <!--              <p class="card-text"></p>-->
      <!--              <p class="card-text">122006</p>-->
      <!--              <p class="card-text">0124-4090420, 0950277619</p>-->
      <!--             >-->
      <!--              <a href="#" class="card-link">Call Us</a>-->
      <!--              <a href="#" class="card-link">Another link</a>-->
      <!--            </div>-->
      <!--          </div>-->
		    
		    
		    
		    </div> 
		    
		    </div> 


<div class="col-lg-6">
<div style="width: 60%; margin: 10px 100px">
    <h1  style="text-align: center; ">We'll Contact You ASAP!!</h1>
    <form action = "/abouts" method = "POST">
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[name]" placeholder = "Name">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[company]" placeholder = "Company">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[phone]" placeholder = "Contact Number">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[email]" placeholder = "E-Mail ID">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[skype]" placeholder = "Skype ID">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[message]" placeholder = "Message">
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" >Submit</button>
            </div> 
        
    </form>
    
    
    </div> 
    
</div>

<% include ./partials/footer %>