<% include ./partials/header %>


  

      

		<div class="col-lg-6">
		  <div class="jumbotron">
		    <div style="width: 60%; margin: 10px 50px">
		        <h1  ><span class="glyphicon glyphicon-education"></span> <br>COURSE VENUE</h1>
		   
                        		   
                        		   <div class="card">
                          
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p>T.R. Raman Hall,</p>
                              <p>Balaji Medical College & Hospital,</p>
                              <p># 7, Works Road, Chromepet,</p>
                              <p>Chennai, Tamilnadu, India </p>
                              
                              <footer>Ms. Saran Sabapathy – saransabapathy@gmail.com <cite title="Source Title"> <br>Phone: 99622 23860 <br>Hands-on Workshop and onsite registration facility available.</cite></footer>
                            </blockquote>
                          </div>
                        </div>
                        <br></div>
                        </div>
                        </div>
                        
                        <div class="col-lg-6">
                           <div class="jumbotron">
		    <div style="width: 60%; margin: 10px 50px">
                        
                        
                        <h1  ><span class="glyphicon glyphicon-education"></span> <br>WORKSHOP VENUE</h1>
                         <div class="card">
                          
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                              <p>Radiology Academy/FRCR Training Centre, </p>
                              <p>Mutidisciplinary Medical & Surgical Training Centre,</p>
                              <p>Cure Healthcare systems,</p>
                              <p>Nungambakkam, Chennai,</p>
                              <p>Tamilnadu, India.</p>
                                                            
                              <footer>Ms. Saran Sabapathy – saransabapathy@gmail.com <cite title="Source Title"> <br>Phone: 99622 23860 <br>Hands-on Workshop and onsite registration facility available.</cite></footer>

                            </blockquote>
                          </div></div>
                          
                        </div>
                         
                        		   
		 
		    
		    
		    </div> 
		    
		    </div> 

<hr><br>

<div class="container">
<div class="col-lg-12" id= "form" >
  <div class="row">
  <div class="jumbotron">
    <h1  style="text-align: center; ">Register for BALRAD-2017!!</h1><br>
    <form action = "/abouts" method = "POST">
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[name]" placeholder = "Name">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[age]" placeholder = "Age">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[sex]" placeholder = "Sex">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[number]" placeholder = "Contact Number">
        </div>
        
         
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[email]" placeholder = "E-Mail ID">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[college]" placeholder = "Name of the Hospital / College / Diagnostic Center">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[city]" placeholder = "City/Town">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[state]" placeholder = "State">
        </div>
        
        <div class="form-group">
        <input class="form-control" type = "text" name = "about[message]" placeholder = "Message">
        </div>
        <br>
        
        <!--=============================-->
        
       <label for="about[designation]">Designation</label>
            
        <div class="radio">
            <label><input type="radio" name="about[designation]">Resident</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[designation]">Pracicing Radiology</label>
            </div>
            
            <!--==================================-->
            <br>
               <!--=============================-->
        
       <label for="about[spec]">If You are a Resident, Please Specify</label>
            
        <div class="radio">
            <label><input type="radio" name="about[spec]">DMRD</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">DNB</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">MD</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Not Applicable</label>
            </div>
            
            <!--==================================-->
            
            
             <br>
               <!--=============================-->
        
       <label for="about[prac]">If You are Practicing Radiologist, Please Specify</label>
            
        <div class="radio">
            <label><input type="radio" name="about[spec]">Junior Resident</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Senior Resident</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Junior Consultant / Assistant Professor</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Consultant / Associate Professor</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Senior Consultant / Professor</label>
            </div>
            <div class="radio">
            <label><input type="radio" name="about[spec]">Not Applicable</label>
            </div>
            
            <!--==================================-->
            
            <br>
             <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" >Submit</button>
            </div> 
            
        
    </form></div></div>
    
    
   
    
</div></div>


<% include ./partials/footer %>